*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto Slab", serif;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* NavBar */
header,
footer{
    color: rgb(255, 110, 57);
    font-size: large;
    background-color: rgb(255, 255, 255);
    width: 100vw;
}

nav{
    padding: 1em;
    width: 100%;
}

.nav_ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav li{
    list-style: none;
}

nav a{
    color: rgb(255, 110, 57);
    text-decoration: none;
}

#search{
    border: none;
    border-radius: 100px;
    padding: 8px 0 8px 29px;
    font-style: medium;
    font-weight: bold;
}

.nav_li6{
    position: relative;
}

.nav_li6 img.search{
    position: absolute;
    margin-top: 6px;
    margin-left: 5px;
}

img,
button{
    cursor: pointer;
    font-weight: bold;
}

.nav_li7,
.nav_li8,
button{
    background-color: rgb(0, 243, 166);
    border: 3px solid black;
    border-radius: 6px;
    padding: 6px 14px;
}

.nav_li7,
.nav_li8{
    color: rgb(249, 244, 244);
}

  /*  carousel image / script */
.carousel {
    position: relative;
    text-align: center; 
  }
  
  .heroProduct {
    height: 350px; 
    width: 450px; 
    object-fit: cover; 
  }
  
  .carousel-controls {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    /* justify-content: space-between; */
    width: 30%;
    
  }
  
  .carousel-btn {
    background-color: rgba(75, 71, 71, 0.582);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    margin: 100px;
    margin-left: 0px;
  }
  
  .carousel-btn:hover {
    background-color: rgba(255, 255, 255, 0.233);
  }

  /* hero section / 1st and 2nd */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
  }

  .main1 {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;
}

.section1 {
  gap: 3rem;
  width: 80%;
  margin-left: 10%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section1_prdt {
  display: flex;
  gap: 1rem;
}

.price {
    flex-direction: column;
    padding-top: 10em;
  }

  .price p {
    font-size: large;
    font-weight: bolder;
  }

  .s1ProductDetails,
.s2_detailsP {
  text-align: justify;
}

.btnPrice,
.price {
  display: flex;
  gap: 1rem;
}

.section2 {
  width: 70%;
  gap: 4rem;
}

.heroProduct {
    border-radius: 10px;
  }
  
  .s2_details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .section3 {
    width: 100%;
    background-color: #000000;
  }
  
  .section3_d1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  
/* Card Container */
.ecard{
    display: flex;  
    margin-left: 115px;
    justify-content: center;
    
    }
    
.card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 300px;
        padding: 20px;
        text-align: center;
        transition: transform 0.3s ease;
        margin: 10px; ;
  }

.card:hover {
    transform: scale(1.05);
 }
  

